
.block-views-blockactivities-block-1,
.block-views-blockrestaurants-block-1 {
	margin-bottom: 3em;

	.view-content {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 0px;
	}
	.views-row {
		box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
		border-radius: 5px;
		min-height: 330px;
		text-align: center;
		padding: 10px 20px;

		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
			width: 200px;
			height: 200px;
		}

	}

	.node .field--type-image {
		float: none;
		margin: 0;
	}
}

.node--view-mode-teaser {
	border: none;
	margin: 0;
	padding: 0;
}
